openapi: 3.1.0
info:
  title: Ticketmaster Discovery Attractions API
  description: The Ticketmaster Discovery API allows developers to search for events, attractions, venues, and classifications across all Ticketmaster supported sources, markets, and locales. The API provides access to content from Ticketmaster, Universe, FrontGate Tickets, and Ticketmaster Resale platforms.
  version: '2.0'
servers:
- url: https://app.ticketmaster.com/discovery/v2
tags:
- name: Attractions
  description: Search and retrieve attraction information.
paths:
  /attractions.json:
    get:
      operationId: searchAttractions
      summary: Search attractions
      description: Find attractions (artists, teams, etc.) and filter by keyword and classification.
      tags:
      - Attractions
      parameters:
      - name: apikey
        in: query
        required: true
        description: API key for authentication.
        schema:
          type: string
      - name: keyword
        in: query
        description: Keyword to search on.
        schema:
          type: string
      - name: size
        in: query
        description: Page size of the response.
        schema:
          type: integer
      - name: page
        in: query
        description: Page number.
        schema:
          type: integer
      responses:
        '200':
          description: Success
  /attractions/{id}.json:
    get:
      operationId: getAttractionDetails
      summary: Get attraction details
      description: Get details for a specific attraction using the attraction identifier.
      tags:
      - Attractions
      parameters:
      - name: id
        in: path
        required: true
        description: Attraction identifier.
        schema:
          type: string
      - name: apikey
        in: query
        required: true
        description: API key for authentication.
        schema:
          type: string
      responses:
        '200':
          description: Success
components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: query
      name: apikey
