openapi: 3.1.0
info:
  title: Ticketmaster Discovery Attractions Venues API
  description: The Ticketmaster Discovery API allows developers to search for events, attractions, venues, and classifications across all Ticketmaster supported sources, markets, and locales. The API provides access to content from Ticketmaster, Universe, FrontGate Tickets, and Ticketmaster Resale platforms.
  version: '2.0'
servers:
- url: https://app.ticketmaster.com/discovery/v2
tags:
- name: Venues
  description: Search and retrieve venue information.
paths:
  /venues.json:
    get:
      operationId: searchVenues
      summary: Search venues
      description: Find venues and filter by keyword, city, state, and country.
      tags:
      - Venues
      parameters:
      - name: apikey
        in: query
        required: true
        description: API key for authentication.
        schema:
          type: string
      - name: keyword
        in: query
        description: Keyword to search on.
        schema:
          type: string
      - name: city
        in: query
        description: Filter by city name.
        schema:
          type: string
      - name: stateCode
        in: query
        description: Filter by state code.
        schema:
          type: string
      - name: countryCode
        in: query
        description: Filter by country code.
        schema:
          type: string
      - name: size
        in: query
        description: Page size of the response.
        schema:
          type: integer
      - name: page
        in: query
        description: Page number.
        schema:
          type: integer
      responses:
        '200':
          description: Success
  /venues/{id}.json:
    get:
      operationId: getVenueDetails
      summary: Get venue details
      description: Get details for a specific venue using the venue identifier.
      tags:
      - Venues
      parameters:
      - name: id
        in: path
        required: true
        description: Venue identifier.
        schema:
          type: string
      - name: apikey
        in: query
        required: true
        description: API key for authentication.
        schema:
          type: string
      responses:
        '200':
          description: Success
components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: query
      name: apikey
